<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yang.mapper.SysDictTypeMapper">

    <resultMap id="BaseResultMap" type="top.yang.domain.SysDictType">
            <id property="dict_id" column="dict_id" jdbcType="BIGINT"/>
            <result property="dict_name" column="dict_name" jdbcType="VARCHAR"/>
            <result property="dict_type" column="dict_type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_by" column="update_by" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        dict_id,dict_name,dict_type,
        status,create_by,create_time,
        update_by,update_time,remark
    </sql>
</mapper>
