<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yang.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="top.yang.domain.SysRole">
            <id property="role_id" column="role_id" jdbcType="BIGINT"/>
            <result property="role_name" column="role_name" jdbcType="VARCHAR"/>
            <result property="role_key" column="role_key" jdbcType="VARCHAR"/>
            <result property="role_sort" column="role_sort" jdbcType="INTEGER"/>
            <result property="data_scope" column="data_scope" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,role_name,role_key,
        role_sort,data_scope,status,
        create_time,update_time,remark
    </sql>
</mapper>
